%header.header
  - if alert
    %p.notice= alert
  - else
    %p.notice= notice
  .clear.login_user__item
    .login_user__item__picture<
      %img{ src: current_user.profile_picture }
    .login_user__item__name<
      %h4= current_user.name
    - if !current_user.nil?
      .login_user__item__link= link_to "Edit profile", edit_user_registration_path
      .login_user__item__link= link_to "Sign out",     destroy_user_session_path,   method: :delete
    - else
      .login_user__item__link= link_to "Sign up",         new_user_registration_path
      .login_user__item__link= link_to "Sign in",         new_user_session_path
      .login_user__item__link= link_to "Forgot password", new_user_password_path
