%header.header
  - if alert
    %p.notice= alert
  - else
    %p.notice= notice
  .container
    %ul.nav
      - if !current_user.nil?
        %li<
          = link_to "Edit profile", edit_user_registration_path
          = link_to "Sign out",      destroy_user_session_path,   method: :delete
      - else
        %li<
          = link_to "Sign in",  new_user_session_path
